.game {
  width: 255px;
  text-align: center;
  font-family: system-ui;
  color: white;
  margin: auto;
  margin-top: 150px;
  font-weight: 500;
}
.title {
  background-image: url("pexels-francesco-ungaro-998641.jpg");
  background-position: center;
  background-size: cover;
  padding: 10px 0;
  margin: 5px 0;
  font-size: 26px;
}
span {
  color: #fa0;
}
.square {
    width: 80px;
    height: 80px;
    background-color: #fa0;
    float: left;
    margin: 2px;
    font-size: 50px;

}
.square:hover {
    cursor: pointer;
    background-image: url("pexels-francesco-ungaro-998641.jpg");
    background-position: center;
    background-size: cover;
}
